\.vs/

\.vs/Customization Scene/DesignTimeBuild/\.dtbcache

\.vs/Customization Scene/v15/\.suo

\.vs/Customization Scene/v15/Server/sqlite3/db\.lock

\.vs/Customization Scene/v15/Server/sqlite3/storage\.ide

\.vs/Customization Scene/v15/Server/sqlite3/storage\.ide-shm

\.vs/Customization Scene/v15/Server/sqlite3/storage\.ide-wal

Assembly-CSharp-Editor\.csproj

Assembly-CSharp\.csproj

Customization Scene\.sln

Temp/

obj/

Library/

balikaral.sln